html, body{
    height:100%;
    font-size:1.2em;
}
body{
    font-family: Calibri,sans-serif;
    background-color: lightgray;
    .nextChoice{
        background-color: white;
    }
}
#wrapper{
    height:100%;
}